/* ===== CONTENEDOR PRINCIPAL ===== */
.bodega-container-principal {
  max-width: 90%;
  margin: 30px auto;
  background-color: var(--background-light);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ===== TÍTULOS ===== */
.bodega-h1-title {
  text-align: center;
  font-size: 2.2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-weight: bold;
}

.bodega-h2-form-title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 30px 0 15px;
  font-weight: bold;
}