/* ===== CONTENEDOR PRINCIPAL ===== */

/* ===== TÍTULOS ===== */
.bodega-h1-title {
  text-align: center;
  font-size: 2.2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-weight: bold;
}

.bodega-h2-form-title {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 30px 0 15px;
  font-weight: bold;
}